# Created by .ignore support plugin (hsz.mobi)

.idea
cfg
out/
out/res/
output/
video/
test/
__pycache__/
datasets/t.csv
datasets/test.csv
datasets/sport2.csv
datasets/sport3.csv
datasets/sport4.csv
datasets/v1.csv
datasets/
model/